/* PHASE 5: Cats */
.content-header{
  min-height: 150px;
  background-image: url("../images/cats.jpg");
  background-size: cover;
  margin: 0 auto;
  width: 900px;
  position: relative;
}

.heading {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
}

.heading-fake{
  width: 200px;
  background-color: yellow;
}


.heading-btn{
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid;
}
